@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.app {
    border: 3px solid red;
    background-color: white;
}


.app-content-hidden {
    display: none;
}